.container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
.BackGroundColor {
    background-color: rgb(208, 170, 243);
}
.bold, .p0{
    font-weight: bold;
}
body {
    text-align: center;
    background-color: rgb(166, 233, 227);
}
.q00 {
    color: rgb(198, 142, 250);
}
.q0 {
    color: goldenrod;
}
.q1 {
    color: rgb(77, 3, 146);
}
.q2 {
    color: rgb(77, 3, 146);
}
.q3 {
    color: rgb(77, 3, 146);
}
.q4 {
    color: rgb(77, 3, 146);
}