.container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
.BackGround {
    background-image: url(https://storage.pixteller.com/designs/designs-images/2019-03-27/05/simple-background-backgrounds-passion-simple-1-5c9b95c3a34f9.png);
}
.bold, .p0{
    font-weight: bold;
}
body {
    text-align: center;
    background-color: rgb(166, 233, 227);
    background-image: url(https://sb.kaleidousercontent.com/67418/1920x1100/2ed9107761/bg.png);
}
.q00 {
    color: rgb(77, 3, 146);
}
.q0 {
    color: rgb(156, 50, 255);
}
.q1 {
    color: rgb(77, 3, 146);
}
.q2 {
    color: rgb(77, 3, 146);
}
.q3 {
    color: rgb(77, 3, 146);
}
.q4 {
    color: rgb(77, 3, 146);
}
button {
    border:solid black;
    border-radius: 10px;
}